<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Nova Manutenção</h2>
    <ol class="breadcrumb">
      <li>
        Manutenção Preventiva
      </li>
      <li class="active">
      <strong>Nova Manutenção</strong>
      </li>
    </ol>
  </div>
</div>

<div style="margin-top: 25px"/>

<%= render 'form', product: @product %>
